{% extends "base.html" %}
{% block title %}Editar {{ plant["name"] }} | Seedhub{% endblock %}
{% block style %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
{% endblock %}
{% set pg_title = "Estadística "+plant['name'] %}
{% set body_class = "hold-transition sidebar-mini" %}
{% block body %}
<div class="wrapper">
  {% include "navbars.html" %}
  <div class="content-wrapper">
     <!-- Content Header (Page header) -->
     <section class="content-header">
      <div class="container-fluid">
          {% include "content_header.html" %}
          <div class="row mb-2">
              <div class="col-sm-12">
                {% with message = get_flashed_messages( with_categories=true ) %}
                  {% if message %}
                    {% for category, data in message %}
                    <div class="alert {{category}} alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{data}}
                    </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
            </div>
      </div><!-- /.container-fluid -->
     </section>
     <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
              <div class="ct-chart ct-golden-section" id="static_chart">
            </div>
          </div>
        </div>
      </section>
  </div>
  {% include "content_footer.html" %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
  class Chart{
    constructor(x_data, y_data, chart_id){
      this.x_data = x_data;
      this.y_data = y_data;
      this.chart_id = chart_id
    }
    createGraph(){
      var data = {
        labels: this.x_data,
        series: this.y_data
      };

      var options = {
        axisX:{
          showGrid:false,
          showLabel:false
        },
        axisY:{
          offset:20
        }
      }
      new Chartist.Line(this.chart_id, data, options);
    }
  }
  var request = $.get('/get_plant_logs');
  var done = request.done(function(plant_data){
    var x_data = plant_data.dates;
    var y_data = [plant_data.soil_moist, plant_data.air_temp,
                  plant_data.air_humid, plant_data.air_qlty];
    var chart = new Chart(x_data, y_data, '#static_chart');
    chart.createGraph();
  })
</script>
{% endblock %}