{% extends "base.html" %}
{% block title %}Log in | Seedhub{% endblock %}
{% block style %}
<style>
  body{
    background-image: url("../static/img/leaves.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
</style>
{% endblock %}
{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary" style="border-top: 3px solid #739d09!important;">
    <div class="card-header text-center">
      <!-- <a href="index2.html" class="h1"><b>Admin</b>LTE</a> -->
      <img src="../static/img/logo.png" alt="NotUser" width="35%" height="35%" style="padding-bottom: 5px;">
    </div>
    <div class="card-body">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{message}}
        </div>
      {% endfor %}
      <form action="#" method="post">
        <div class="input-group mb-3">
          <input name="username" type="name" class="form-control" placeholder="Username">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" type="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="justify-content: center!important;">
            <button type="submit" class="btn btn-block" style="background-color: #739d09; color: white;">Ingresar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <p class="mb-2" style="padding-top: 8%; align-content: center;">
        <a href="/registrar" class="text-center" style="justify-content: center!important;">Registrarse</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<script>
$('.alert').alert()
</script>
</body>
{% endblock %}