{% extends 'base.html' %}

{% block head %}
<title>Primer Proyecto</title>
{% endblock %}
{% block body %}

<header>
    <h1 class="titulo">Isaí Hinojos<span> - Associate Systems Engineer</span></h1>
</header>

<div class="nav-bg">

    <nav class="navegacion-principal contenedor">
        <a href="">Inicio</a>
        <a href="">Sobre mi</a>
        <a href="">Clientes</a>
        <a href="">Contacto<span>Otro</span></a>
    </nav>
</div>

<div>
    <section class="Imagen">
        <div class="contenido-Imagen">
            <h2><span>Materia:</span> de Aplicaciones Web</h2>
            
            <div class="ubicacion">
                
                <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg>
            </div>

            <p>Chihuahua, Chih.</p>
            <a class="boton" href="#">Contactame</a>
        </div>
    </section>
</div>

<main class="contenedor sombra">
    <h2>Mis servicios</h2>

    <div class="servicios">
        <section>
            <h3>Desarrollo de sistemas Integrados</h3>

                

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsa nesciunt accusamus aliquid a officiis quod cum nulla maiores quaerat, aperiam ullam, ducimus repudiandae. Cumque quaerat dolor ea hic explicabo.
                </p>
        </section>

        <section>
            <h3>Proyectos</h3>


            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nostrum iste, culpa consectetur autem asperiores explicabo eaque beatae, facere sed cupiditate deleniti architecto labore, similique excepturi? Incidunt natus ratione magni.</p>
        </section>

        <section>
            <h3>GitHub</h3>

            <a href="https://github.com/ihinojos">https://github.com/ihinojos</a>
        </section>
    </div>

</main>

{% endblock %}
